<%= form_for :user, url: '/users' do |form| %>
<div id="signup">
 <div class="container pt-3">
    <div id="signup-row" class="row justify-content-center align-items-center">
        <div id="signup-column" class="col-md-6">
             <div id="signup-box" class="col-md-12">
                <h3 class="text-center pb-3">SignUp</h3>

                <div class="form-group">
                <strong><%= form.label :User_Name %></strong><br>
                <%= form.text_field :user_name, class: 'form-control' %>
                </div>

                <div class="form-group">
                <strong><%= form.label :email %></strong><br>
                <%= form.text_field :email, class: 'form-control' %>
                </div>

                <div class="form-group mb-2">
                <strong><%= form.label :password %></strong><br>
                <%= form.password_field :password, class: 'form-control' %>
                </div>

                <div class="form-group">
                <%=  submit_tag("Create Account") %>
                </div>
                <%= link_to 'Login', '/login'%>
                </div>
              </div>
           </div>
        </div>
    </div>
</div>
<% end %>
