<div class="container">
  <h2>Orders Details</h2>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
            <th scope="col">Address Id</th>
            <th scope="col">Address</th> 
            <th scope="col">Total price</th>           
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <% order.line_items.each do |line_item| %>
                    <tr>
                        <td><%= line_item.product.name%></td>  
                        <td><%= image_tag(line_item.product.image.url, style: 'height:100px;width:auto;')%></td>
                        <td><%= line_item.product.price%></td>
                        <td><%= line_item.quantity%></td> 
                        <td><%= order.status%></td>  
                        <td><%= order.address_id %></td>
                        <td><%= order.address_line_1 %></td> 
                        <td><%= order.final_price%></td>                         
                    </tr>        
            <% end %> 
        <% end %>  
    </tbody>
  </table>

  </div>
     <%= link_to 'shopping page', '/shopping'%> 
  </div>
</div>
  