<h1>Addresses</h1>
<% @address.each do |address| %>
<div class="container-fluid ">
    <table class="table">
        <div class="row ">
            <div class="col p-3">address_line_1 :<%= address.address_line_1 %></div>
            <div class="col p-3">address_line_2 : <%= address.address_line_2 %></div>
            <div class="col p-3">city : <%= address.city %></div>
             <div class="col p-3">state : <%= address.state %></div>
              <div class="col p-3">zip: <%= address.zip %></div>
    -    </div>
      </table>
   </div>
<% end %>
<%= link_to 'shopping page', '/shopping'%> 