<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <h4 class="fw-bold">shopping website</h4>
    <form class="d-flex">
        <a href="/checkout"><i class="bi bi-cart3" style="font-size: 2rem;"> <%= @line_item_count %></i></a>
        <a class="nav-link" href="/addresses/new"> <i class="bi bi-person-square" style="font-size: 2rem;"></i></a>
        <a class="nav-link" href="/logout">Logout</a>
    </form>
   </div>
</nav>

<div class="container-fluid h-100">
        <div class="row h-100 ">
            <div class="col-2 bg-light mb-5">
               <ul class ="nav navbar-nav">
                    <li class ="nav-item">
                       <a class ="nav-link" href="/orders"><i class="bi bi-grid p-2"></i>My Orders </a>
                    </li>
                    <li class ="nav-item">
                       <a class ="nav-link" href="/addresses"><i class="bi bi-house p-2"></i>Addresses </a>
                    </li>
                    <li class ="nav-item">
                       <a class ="nav-link" href="#"><i class="bi bi-x-diamond-fill p-2"></i> My Rewards </a>
                    </li>   
                </ul>
            </div>

            <div class="col-9">
            <h3>All Products</h3>
              <div class="grid">
                <div>
                    <%= flash[:notice] if flash[:notice]%>
                </div>
                <% @products.each do |product| %>
                <div class = "mb-5">
                    <strong>Name:</strong><%= product.name %>
                    <%= image_tag(product.image.url, style: 'height:250px;width:auto;')%> 
                    <strong>price:</strong><%= product.price%>
                    <strong>quantity:</strong><%= product.quantity%>
                    <button type="button" class="btn btn-light"><%= link_to 'Add to Cart', "add_to_cart/#{product.id}" %></button>
                </div>
                <%end%>
            </div>
        </div>
   </div>
</div>
